<form #connForm="ngForm" (ngSubmit)="connForm.valid && onSubmit(connForm)">
  <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.mail" name="mail" placeholder="Mail"
  required [pattern]="mailRegex"  [ngClass]="{'invalid-textbox' :connForm.submitted && !mail.valid }">
  <div *ngIf="connForm.submitted && mail.errors">
    <label *ngIf="mail.errors.required" class="validation-message">Mail requis.</label>
  </div>
  <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="Mot de passe"
  minlength="4" required [ngClass]="{'invalid-textbox' :connForm.submitted && !password.valid }">
  <div *ngIf="connForm.submitted && password.errors">
    <label *ngIf="password.errors.required" class="validation-message">Mot de passe requis.</label>
  </div>
  <input type="submit" value="Valider">
</form>
<!-- Success message -->
<div class="success" *ngIf="showSucessMessage">
  Saved successfully
</div>
 
<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>